@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	border: 0px;
	outline: none !important;
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
	margin: 0px;
	padding: 0px;
	border: 0;
	vertical-align: baseline;
	list-style-type: none;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
}

body,
html {
	overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	color: #373737;
}

a:hover,
a:focus {
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	text-decoration: none;
	outline: none;
	color: #a83d72;
}

a:focus {
	outline: none;
}

textarea {
	resize: none;
}

img {
	max-width: 100%;
}
.btn {
	font-size: 12px;
	min-width: inherit;
	padding-top: 14px;
	padding-right: 25px;
	padding-bottom: 14px;
	padding-left: 25px;
	line-height: normal;
	border-radius: 40px;
	background-color: #432b66;
	font-weight: 400;
	transition: .5s;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #432b66;
	min-width: 190px;
}

.btn:hover,
.btn:focus {
	background-color: #553585 !important;
	border-color: #553585;
	color: #fff !important;
	box-shadow: none !important;
}

.btn-white {
	background-color: #fff;
	color: #000;
	border: none;
}

header .btn {
	background-color: transparent;
	border-color: #fff;
	margin-right: 15px;
	min-width: inherit;
}

.btn-info {
	color: #032274;
	background-color: #fff;
	border-radius: 0;
	border: 2px solid #032274;
	padding: 14px 28px;
}

.btn-info.solidBg {
	color: #fff !important;
	background-color: #032274 !important;
	border-radius: 0;
	border: 2px solid #032274;
	padding: 16px 26px;
}

.btn-info.solidBg:hover,
.btn-info.solidBg:focus {
	color: #1ab394 !important;
	background-color: #fff !important;
	border-color: #1ab394 !important;
}

.btn-info:hover,
.btn-info:focus {
	color: #fff;
	background-color: #738FAC;
	border-color: #1ab394 !important;
}


p {
	font-size: 16px;
	line-height: 1.3em;
	color: #6b6b6b;
}

h1,
.h1 {
	font-size: 100px;
	font-weight: 600;
	line-height: .9em;
	color: #fff;
}

h2,
.h2 {
	font-size: 250px;
	color: #f4edf2;
	font-weight: 700;
	letter-spacing: -10px;
	line-height: .8em;
}

h3,
.h3 {
	font-size: 46px;
	font-weight: 600;
	line-height: 1em;
}

h4,
.h4 {
	font-size: 17px;
	font-weight: 600;
	line-height: 1em;
}

h5,
.h5 {
	font-weight: 600;
	font-size: 22px;
	letter-spacing: 4px;
}

h6,
.h6 {
	font-weight: 600;
	font-size: 17px;
	text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
	color: #432b66;
}

.mb-100 {
	margin-bottom: 100px;
}

.mb-50 {
	margin-bottom: 50px;
}

.container {
	padding: 0 20px;
}

header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;
	padding: 40px 50px;
}

header .btn {
	background-color: transparent;
	border-color: #fff;
	margin-right: 15px;
}

.navMenuArea {
	width: 30%;
}

.logArea {
	width: 30%;
	text-align: right;
}

.navMenu li {
	display: inline-block;
}

.navMenu li a {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	padding: 15px 23px;
	border-radius: 35px;
}

.navMenu li a:hover {
	background-color: #432b66;
}


.bannerImg img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	object-fit: cover;
}

.bannerImg {
	aspect-ratio: 1/.49;
}

.bannerText {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 8%;
	text-align: center;
}

.bgText {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.bgText span {
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}

.menu-toggle {
	display: none;
}

.close {
	display: none;
}

.serviceSec {
	padding-top: 130px;
	padding-bottom: 100px;
}

.iconBox img {
	max-height: 40px;
}

.collection {
	padding-bottom: 100px;
}

.proImg::after {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
	background-color: #ffffffc4;
	display: none;
}

.proImg .btn {
	top: 50%;
	left: 0;
	right: 0;
	max-width: 210px;
	margin: auto;
	z-index: 9;
	display: none;
}

.productThum:hover .btn,
.productThum:hover .proImg::after {
	display: block;
}

.price {
	font-size: 22px;
	color: #ec2e67;
	font-weight: 600;
}

.price s {
	color: #9a99a5;
}

.g-6,
.gx-6 {
	--bs-gutter-x: 12rem;
}

.g-6,
.gy-6 {
	--bs-gutter-y: 12rem;
}

.popularSec {
	padding-top: 225px;
	padding-bottom: 490px;
	background-image: url(../img/popular-bg.jpg);
	background-position: center;
	background-size: cover;
}

.sliderHolder {
	margin-top: -355px;
}

.serviceItem h5 {
	font-size: 20px;
	letter-spacing: 0;
}

.redText {
	color: #ec2e67;
}

.sliderArea {
	position: relative;
}

.sliderBox {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	margin: 0 auto;
}

.owl-nav span {
	font-size: 30px;
	color: #000;
}

.owl-nav {
	text-align: center;
	margin-top: 20px;
}

.owl-nav button {
	width: 20px;
	margin: 5px;
}

.collectionImg {
	aspect-ratio: 1 / 1;
}

.collectionImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.collectionSec {
	padding-bottom: 90px;
}

.trendingSec {
	padding: 150px 0 100px;
	background-color: #ffe1ea;
}

.dateCat span,
.dateCat {
	font-size: 16px;
	color: #000;
}

.bigPost h3 {
	padding-right: 40px;
}

.bigPost h3::after,
.postItem h4::after {
	position: absolute;
	content: '';
	right: 0;
	top: 6px;
	background-image: url(../img/arrow-right.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 31px;
	height: 31px;
}

.postItem h4::after {
	top: 0;
}

.postItem h4 {
	font-size: 26px;
	line-height: 1em;
	padding-right: 35px;
}

.postItem {
	padding-bottom: 35px;
	margin-bottom: 45px;
	border-bottom: 1px solid #e5cad2;
	margin-left: 14%;
}

.videoBox {
	aspect-ratio: 1/1.2;
}

.videoText p {
	color: #fff;
	font-size: 16px;
}

.videoText {
	padding: 30px 60px;
	aspect-ratio: 1/.7;
}

.videoText::after {
	position: absolute;
	content: '';
	top: -19px;
	left: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background-color: #432b66;
	z-index: 9;
	transform: rotate(45deg);
	margin: 0 auto;
}

.colorHelp::after {
	background-color: #ec2e67;
}

.b-arrow::after {
	top: inherit;
	bottom: -19px;
}

.colorHelp2::after {
	background-color: #a61947;
}

.nameText {
	font-weight: 600;
}

.joinSec {
	padding: 150px 0 100px;
	background-image: url(../img/join-bg.jpg);
	background-size: cover;
	background-position: center bottom;
	background-color: #fef7f9;
}

footer {
	padding-top: 100px;
	background-color: #fef7f9;
}

.formBtn {
	background: none;
}

footer,
footer p,
footer li,
footer li a {
	font-size: 15px;
	color: #6b6b6b;
	line-height: 1.3;
}

.footerMenu li a {
	padding: 2px 0;
	display: inline-block;
}

.copyRight {
	padding: 50px 0 35px;
}

#subscribe {
	border-bottom: 2px solid #000;
}

.formControl {
	font-size: 80px;
	background: none;
	width: 100%;
	padding: 25px 0;
}
.owl-dots {
	display: none;
  }
  .proImg {
	aspect-ratio: 1/1.3;
  }
  .proImg img {
	object-fit: contain;
	width: 100%;
	height: 100%;
  }
  .popularImg {
	aspect-ratio: 1/.8;
  }
  .popularImg img {
	object-fit: contain;
	width: 100%;
	height: 100%;
  }

@media (min-width:1600px) {
	.container {
		max-width: 1600px;
	}


}


@media (max-width:1600px) {

	h1,
	.h1 {
		font-size: 80px;
	}

	h2,
	.h2 {
		font-size: 180px;
		letter-spacing: -10px;
	}

	h3,
	.h3 {
		font-size: 30px;
	}

	.g-6,
	.gx-6 {
		--bs-gutter-x: 7rem;
	}

	.g-6,
	.gy-6 {
		--bs-gutter-y: 7rem;
	}

	.mb-50 {
		margin-bottom: 25px;
	}

	.mb-100 {
		margin-bottom: 80px;
	}

	.popularSec {
		padding-top: 100px;
	}

	.owl-nav {
		margin-top: 0;
	}

	.sliderBox .proImg {
		max-width: 230px;
		margin: 0 auto;
	}

	.trendingSec {
		padding: 100px 0;
	}

	.postItem h4 {
		font-size: 17px;
		padding-right: 22px;
	}

	.bigPost h3::after,
	.postItem h4::after {
		width: 16px;
		height: 16px;
		background-size: 16px;
	}

	.dateCat span,
	.dateCat {
		font-size: 13px;
	}

	.postItem {
		padding-bottom: 18px;
		margin-bottom: 24px;
		margin-left: 10%;
	}

	.bigPost h3 {
		padding-right: 20px;
	}

	.joinSec {
		padding: 100px 0;
	}

}

@media (max-width:1366.98px) {

	h1,
	.h1 {
		font-size: 60px;
	}

	h2,
	.h2 {
		font-size: 180px;
	}

	h3,
	.h3 {
		font-size: 25px;
	}

	h4,
	.h4 {
		font-size: 14px;
	}

	.g-6,
	.gx-6 {
		--bs-gutter-x: 5rem;
	}

	header {
		padding: 15px 30px;
	}

	.logo {
		width: 200px;
	}

	.navMenu li a {
		padding: 15px;
	}

	.bgText span {
		font-size: 14px;
	}

	.serviceSec {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.collection {
		padding-bottom: 80px;
	}

	.price {
		font-size: 17px;
	}

	.mb-100 {
		margin-bottom: 50px;
	}

	.popularSec {
		padding-top: 80px;
		padding-bottom: 440px;
	}

	.serviceItem h5 {
		font-size: 17px;
	}

	.collectionSec {
		padding-bottom: 70px;
	}

	.trendingSec {
		padding: 60px 0;
	}

	.videoText {
		padding: 25px;
	}

	.joinSec {
		padding: 80px 0;
	}

	.formControl {
		font-size: 50px;
		padding: 10px 0;
	}

	.formBtn {
		width: 50px;
	}

	footer {
		padding-top: 80px;
	}
}

@media (max-width:1200px) {

	h2,
	.h2 {
		font-size: 150px;
	}

	.mb-50 {
		margin-bottom: 20px;
	}

	.sliderHolder {
		margin-top: -250px;
	}

	.popularSec {
		padding-bottom: 325px;
	}

	.owl-nav button {
		width: 25px;
		height: 25px;
		margin: 5px;
	}

	.sliderBox .proImg {
		max-width: 180px;
	}

	.videoText {
		padding: 15px;
	}

	h2,
	.h2 {
		font-size: 150px;
	}

	.videoText {
		aspect-ratio: 1/1;
	}
}

@media (max-width:991.98px) {

	h1,
	.h1 {
		font-size: 40px;
	}

	h2,
	.h2 {
		font-size: 100px;
		letter-spacing: -5px;
	}

	h5,
	.h5 {
		font-size: 18px;
		letter-spacing: 2px;
	}

	header {
		padding: 15px;
	}

	.bannerText {
		left: 0;
		top: 60%;
	  }

	.btn {
		padding-top: 10px;
		padding-right: 20px;
		padding-bottom: 10px;
		padding-left: 20px;
		min-width: 150px;
	}

	.navMenu {
		display: none;
		flex-direction: column;
		background: #1c1c1cd4;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 10px;
	}

	.navMenu.show {
		display: flex;
	}

	.menu-toggle {
		display: block;
		background: transparent;
		color: #fff;
		cursor: pointer;
		padding: 0px;
	}

	.menu-toggle svg {
		width: 35px;
		height: 31px;
	}

	.menu-toggle {
		display: block;
	}

	.navMenu li a {
		padding: 10px;
		display: block;
		text-align: center;
	}

	.serviceSec {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.collection {
		padding-bottom: 60px;
	}

	.proImg .btn {
		max-width: 120px;
	}

	.mb-100 {
		margin-bottom: 30px;
	}

	.g-6,
	.gx-6 {
		--bs-gutter-x: 1rem;
	}

	.g-6,
	.gy-6 {
		--bs-gutter-y: 2rem;
	}

	.popularSec {
		padding-top: 60px;
	}

	.collectionImg {
		aspect-ratio: 1 / 1.2;
	}

	.collectionSec {
		padding-bottom: 50px;
	}

	.postItem h4 {
		font-size: 15px;
		padding-right: 20px;
	}

	.postItem {
		padding-bottom: 15px;
		margin-bottom: 15px;
		margin-left: 0;
	}

	.joinSec {
		padding: 60px 0;
	}

	footer,
	footer p,
	footer li,
	footer li a {
		font-size: 13px;
		line-height: 1.2em;
	}

	.formControl {
		font-size: 30px;
	}

	.formBtn {
		width: 30px;
	}

	footer {
		padding-top: 60px;
	}

}

@media (max-width:767.98px) {

	h1,
	.h1 {
		font-size: 30px;
	}

	h2,
	.h2 {
		font-size: 90px;
	}

	h5,
	.h5 {
		letter-spacing: 1px;
		font-size: 20px;
	}

	.btn {
		padding-top: 8px;
		padding-right: 13px;
		padding-bottom: 8px;
		padding-left: 13px;
		min-width: 130px;
		font-size: 11px;
	}

	.logo {
		width: 145px;
	}

	.bannerText {
		left: 0;
		top: 55%;
		max-width: 360px;
	}

	.bannerImg {
		aspect-ratio: 1/.6;
	}

	.serviceSec {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.collection {
		padding-bottom: 40px;
	}

	.productThum {
		max-width: 300px;
		margin: 0 auto;
	}

	.bgText span {
		font-size: 11px;
	}

	.popularSec {
		padding-top: 50px;
		padding-bottom: 200px;
	}

	.sliderHolder {
		margin-top: -150px;
	}

	.sliderBox .proImg {
		max-width: 100%;
	}

	.collectionImg {
		aspect-ratio: 1 / 1.2;
	}


	.trendingSec {
		padding: 40px 0;
	}

	.bannerText .bgText {
		position: relative !important;
		left: 0;
		top: 0;
		transform: inherit;
		width: 310px;
		margin: 0 auto;
	}
	.bigPost {
		border-bottom: 1px solid #e5cad2;
		padding-bottom: 15px;
		margin-bottom: 15px;
	  }
	.b-arrow::after {
		bottom: -10px;
		top: inherit !important;
	}

	.videoText::after {
		top: -10px;
		width: 20px;
		height: 20px;
	}

	.joinSec {
		padding: 40px 0;
	}

	.videoText {
		aspect-ratio: 1/1;
	}

	footer {
		text-align: center;
	}

	footer,
	footer p,
	footer li,
	footer li a {
		font-size: 15px;
		line-height: 1.3em;
	}

	.footerMenu {
		margin-bottom: 30px;
	}

	.copyRight {
		padding: 20px;
	}

	.formControl {
		font-size: 25px;
	}

	.formBtn {
		width: 25px;
	}

	footer {
		padding-top: 40px;
	}
	.iconBox img {
		max-height: 30px;
	  }
	  .bigPost h3 {
		font-size: 15px;
	  }

}

@media (max-width:575.98px) {

	h1,
	.h1 {
		font-size: 25px;
	}

	h2,
	.h2 {
		font-size: 50px;
		letter-spacing: -2px;
	}

	h4,
	.h4 {
		font-size: 13px;
	}
	h5,
	.h5 {
		font-size: 18px;
	}
	p {
		font-size: 15px;
		line-height: 1.2em;
		color: #6b6b6b;
	}

	.logArea img {
		width: 30px;
	}

	.bannerImg {
		aspect-ratio: 1/.7;
	}

	header .btn {
		margin-right: 5px;
		padding: 5px 10px;
		font-size: 11px;
	}

	.logo {
		width: 130px;
	}

	header {
		padding: 15px 6px;
	}

	.bgText span {
		font-size: 11px;
	}

	.productThum {
		max-width: 236px;
	}

	.price {
		font-size: 15px;
	}

	.collectionImg {
		aspect-ratio: 1 / 1.3;
	}

	.videoText p {
		font-size: 13px;
	}

	.videoText {
		aspect-ratio: 1/1.2;
	}

	.bgText {
		width: 240px;
		margin: 0 auto;
	}
	.iconBox img {
		max-height: 22px;
	  }
	  .serviceItem h5 {
		font-size: 12px;
	  }
	  .serviceItem p {
		font-size: 12px;
	  }

}